# Pandas basics

In [1]:
!ls

01-pandas basics.ipynb continent_facts.csv    countries.csv

In [2]:
%pip install --quiet pandas

Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [18]:
df=pd.read_csv("countries.csv")
df.sort_values('life_expectancy',ascending=False)

,country,continent,life_expectancy,population,gdp
83,Japan,Asia,81.350,125720310,3590446333290
72,"Hong Kong, China",Asia,80.361,6783317,203309577124
161,Switzerland,Europe,79.990,7167908,246475684488
7,Australia,Oceania,79.930,19164351,560384787591
160,Sweden,Europe,79.840,8860153,253754781920
...,...,...,...,...,...
3,Angola,Africa,45.234,13926373,34063908358
187,Zimbabwe,Africa,43.976,12509477,9319560365
31,Central African Rep.,Africa,43.727,3701607,2820624534
186,Zambia,Africa,41.802,10201562,10558616670
147,Sierra Leone,Africa,38.123,4143115,2141990455

In [23]:
#df[df['life_expectancy']>75 and df['continent']=='Asia']
df[(df['life_expectancy']>75)&(df['country']=='Asia')]

Empty DataFrame
Columns: [country, continent, life_expectancy, population, gdp]
Index: []

In [26]:
df['life_expectancy'].mean()

66.50153603526596

In [27]:
df['life_expectancy'].median()

70.04150000000001

In [29]:
df['gdp'].sum()

48316204002444

In [30]:
df['life_expectancy'].describe()

count    188.000000
mean      66.501536
std       10.298458
min       38.123000
25%       59.663750
50%       70.041500
75%       74.134500
max       81.350000
Name: life_expectancy, dtype: float64

In [35]:
df['gdp_per_capita']=df['gdp']/df['population']

In [36]:
df.head(2)

,country,continent,life_expectancy,population,gdp,gdp_per_capita
0,Afghanistan,Asia,54.863,22856302,15153728226,663.0
1,Albania,Europe,74.200,3071856,12886435920,4195.0

In [37]:
df.groupby('continent')['life_expectancy'].median()

continent
Africa        52.1025
Asia          70.4275
Europe        75.5800
N. America    70.5765
Oceania       67.4955
S. America    70.7660
Name: life_expectancy, dtype: float64

In [39]:
url = "https://www.theguardian.com/football/laligafootball/table"
pd.read_html(url)

[     P            Team  GP   W   D   L   F   A  GD  Pts  \
 0    1     Real Madrid  38  29   8   1  87  26  61   95
 1    2       Barcelona  38  26   7   5  79  44  35   85
 2    3          Girona  38  25   6   7  85  46  39   81
 3    4        AtlÃ©tico  38  24   4  10  70  43  27   76
 4    5        A Bilbao  38  19  11   8  61  37  24   68
 5    6   Real Sociedad  38  16  12  10  51  39  12   60
 6    7      Real Betis  38  14  15   9  48  45   3   57
 7    8      Villarreal  38  14  11  13  65  65   0   53
 8    9        Valencia  38  13  10  15  40  45  -5   49
 9   10          Alaves  38  12  10  16  36  46 -10   46
 10  11         Osasuna  38  12   9  17  45  56 -11   45
 11  12          Getafe  38  10  13  15  42  54 -12   43
 12  13      Celta Vigo  38  10  11  17  46  57 -11   41
 13  14         Sevilla  38  10  11  17  48  54  -6   41
 14  15        Mallorca  38   8  16  14  33  44 -11   40
 15  16      Las Palmas  38  10  10  18  33  47 -14   40
 16  17  Rayo Vallecano  38   8  14  16  29  48 -19   38
 17  18           Cadiz  38   6  15  17  26  55 -29   33
 18  19         Almeria  38   3  12  23  43  75 -32   21
 19  20         Granada  38   4   9  25  38  79 -41   21

                                                  Form
 0   Won 3-0 against Cadiz  Won 4-0 against Granada...
 1   Lost 2-4 to Girona  Won 2-0 against Real Socie...
 2   Won 4-2 against Barcelona  Drew 2-2 with Alave...
 3   Won 1-0 against Mallorca  Won 1-0 against Celt...
 4   Won 2-0 against Getafe  Drew 2-2 with Osasuna ...
 5   Won 2-0 against Las Palmas  Lost 0-2 to Barcel...
 6   Won 2-0 against Osasuna  Won 3-2 against Almer...
 7   Lost 2-3 to Celta Vigo  Won 3-2 against Sevill...
 8   Lost 0-1 to Alaves  Drew 0-0 with Rayo Valleca...
 9   Won 1-0 against Valencia  Drew 2-2 with Girona...
 10  Lost 0-2 to Real Betis  Drew 2-2 with A Bilbao...
 11  Lost 0-2 to A Bilbao  Lost 0-1 to Cadiz  Lost ...
 12  Won 3-2 against Villarreal  Lost 0-1 to AtlÃ©ti...
 13  Won 3-0 against Granada  Lost 2-3 to Villarrea...
 14  Lost 0-1 to AtlÃ©tico  Won 1-0 against Las Palm...
 15  Lost 0-2 to Real Sociedad  Lost 0-1 to Mallorc...
 16  Lost 0-1 to Almeria  Drew 0-0 with Valencia  W...
 17  Lost 0-3 to Real Madrid  Won 1-0 against Getaf...
 18  Won 1-0 against Rayo Vallecano  Lost 2-3 to Re...
 19  Lost 0-3 to Sevilla  Lost 0-4 to Real Madrid  ...  ]

In [40]:
import pandas as pd

url = "https://www.theguardian.com/football/laligafootball/table"
tables = pd.read_html(url)
len(tables)

1